### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/JavaDoc/
/JavaDoc.zip
/web/favicon.ico
/.idea/libraries/google_code_gson.xml
/web/index.css
/web/index.html
/web/index.js
/.idea/libraries/slf4j_simple.xml
/.idea/libraries/sparkjava_spark_core.xml
